h1 {
  font-size: 60px;
  font-weight: 100;
  color: var(--black);
  text-align: center;
  margin: 80px auto 20px;
  width: 70%;
}

p {
  font-size: 18px;
  text-align: center;
  margin: 0 auto 40px;
  width: 70%;
}

a {
  text-decoration: none;
  color: var(--black);
}

.gallary {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  margin: auto 20px;
}

.recipe {
  width: 100%;
  padding: 0 25px;
  margin: 0 0 30px;
}

@media screen and (min-width: 700px) {
  .recipe {
    width: 50%;
    padding: 0 25px;
  }
}

@media screen and (min-width: 1000px) {
  .recipe {
    width: 30%;
    padding: 0 25px;
  }
}

.recipe img {
  width: 100%;
}

.recipe .recipe-name {
    padding: 15px 0;
    font-size: 18px;
}