header,
footer {
  background-color: var(--green);
  width: 100%;
  text-align: center;
}

header {
  margin-bottom: 60px;
}

.title {
  font-size: 72px;
  font-weight: 100;
  color: var(--black);
  padding: 60px 0 20px;
}

.subtitle {
  font-size: 22px;
  padding: 0 20px 40px;
}

main {
  margin: 0 20px 0;
}

.recipe {
  display: inline-block;
  width: calc((100% / 3) - 3px);
  padding: 0 2% 30px;
}

.recipe img {
  width: 100%;
  border-radius: 8px 8px 0 0 ;
}

.recipe-name {
  padding: 15px 0;
  font-size: 18px;
  text-align: center;
  color: var(--black);
  background-color: var(--terracotta);
  border-radius: 0 0 8px 8px;
}

.recipe a {
  text-decoration: none;
}

.recipe-name:hover {
  color: var(--white);
}

footer {
  position: fixed;
  bottom: 0;
}

.footer-text {
  font-size: 16px;
  padding: 20px;
}

.footer-links li {
  font-size: 16px;
  display: inline-block;
  margin: auto;
  padding: 0 20px 20px;
}

.footer-links li a {
  text-decoration: underline;
}

.footer-links li a:hover {
  color: var(--white);
}

/* Responsive CSS for smaller screen */
@media (max-width: 720px) {
  .recipe {
    width: 100%;
  }

  header {
    margin-bottom: 40px;
  }

  .title {
    font-size: 48px;
    padding: 40px 0 20px;
  }

  .subtitle {
    font-size: 16px;
    padding: 0 15px 40px;
  }

  footer {
    position: static;
    bottom: 0;
  }

  .footer-text {
    font-size: 14px;
    padding: 15px;
  }

  .footer-links li {
    font-size: 14px;
    padding: 0 15px 20px;
  }
}
