* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  /* border: 1px solid red; */
}

:root {
  --black: #000;
  --white: #fff;
  --green: #b1ecb1;
  --light-green: #f0faf0;
}

body {
  font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}
